body {
    background-color:#b0e0e6;
  }
  h1 {
    color: rgb(76, 57, 196);
    margin: auto;
    width: 50%;
    padding: 5px;
    font-size: 45px;
    text-align: center;
    vertical-align: middle;
    line-height: 60px;  
  }
  p {
    font-size: 20px;
  }
  li {
    font-size: 20px;
  }
  a {
    font-size: 20px;
  }
  marquee {
    font-size: 22px;
    font-weight: bold;
    cursor: url('grab.png'), auto;
  }
    